#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
  height: 350px;
  width: 500px;
}
.meal-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  margin: 15px 0;
}


